.git/
.github/
.gitignore
.env
*.log
log.json
coverage/
test/
dist/
bin/
build.sh
pkg.config.json
nuwcdivnpt-bot.gpg.asc
icon.svg
README.md
LICENSE.md
INTENT.md
CONTRIBUTORS.md
CONTRIBUTING.md
docker-compose.yml
Dockerfile
.dockerignore